<div class="nav" id="myNav">
  <a href="#home" data-controller="scroll-to">Home</a>
  <div class="nav-right">
  <a href="#projects" data-controller="scroll-to">Projects</a>
  <a href="#about" data-controller="scroll-to">about</a>
  <a href="#contact" data-controller="scroll-to">contact</a>
  <a href="javascript:void(0);" class="icon" onclick="myFunction()">
    <i class="fa fa-bars"></i></a>
  </div>
</div>

<script>
function myFunction() {
  var x = document.getElementById("myNav");
  if (x.className === "nav") {
    x.className += " responsive";
  } else {
    x.className = "nav";
  }
}
</script>
