
.section.home, .projects, .about, .contact {
  background-image: url('yellow-brush.png');
  background-size: 25%;
  background-repeat: no-repeat;
  padding: 80px 0;
}

.section.projects {
  background-position: 650px 100px;
  background-size: 30%;
  display: block;
  h1 {
    font-size: 80px;
  }
  .section-content {
    flex-direction: column;
    align-items: center;
  }
  .section-text {
    width: 100%;
  }
}

.section.about {
  background-position: right;
}

.section-content {
  display: flex;
  justify-content: space-around;
  margin: 20px auto;
}

.inner-text {
  padding: 50px 50px;
}

.img {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 600px) {
  .section {
    .section-content {
      justify-content: normal;
    }
  }
  .section.home, .about {
    .section-content {
    flex-direction: column-reverse;
    }
    .img {
      margin-bottom: 5rem;
    }
  }
  .section.projects {
    h1 {
      font-size: 60px;
    }
  }
  .section.contact {
    .section-content {
    flex-direction: column;
    }
  }
}
